body{
  font-family: "Poppins" ,sans-serif;
  margin: 0;
  padding: 0;
  height: 1000px;
}
/* bagian nav bar */
header{
  background: #6F8FAF;
  height: 4em;
  position: sticky;
  top: 0;
  z-index: 2;
}
nav{
  display: flex;
  align-items: center;
  padding: 1vh;
  padding-right: 5vh;
  justify-content: flex-end;
}
ul{
  display: flex;
  justify-content: space-around;
  gap: 5vw;
}
li ,a {
  list-style: none;
  text-decoration: none;
  color: #e3f5fc;
  font-size: medium;
  transition: all 300ms ease-in-out;
}
li:hover{
  transform: translateY(-2px);
}
a:hover{color: #73faff; text-decoration: underline;}
a:active{
  color: #ffffff;
}
.logo{
  padding:1vh;
  width: 50px;
  float: inline-start;
  position: relative;
}
img{
  width: 200px;
}
header h3{
  user-select: none;
  float: inline-start;
  color: #ffffff;
  text-align: center;
  padding-left: 10px;
}
/* foto awal */
.mainPhoto-Container{
  width: 100%;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.753),rgba(0, 0, 0, 0.808)),url("./img/foto1.jpg");
  box-sizing: border-box;
  height: 50vw;
  background-repeat: no-repeat;
  background-size: cover; 
}
/* bagian text dalam */
.content-photo{
  padding-top: 15vw;
  position: relative;
  text-align: center;
  height: inherit;
  color: #ffffff;
  transition: all 500ms ease-in-out;
  transform: translateY(0);
}
.content-photo button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 4px 2px 1px #366a8d;
  transition: all 400ms ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  user-select: none;
}
.content-photo button:hover{
  transform: translateY(-5px);
}
@media(max-width:450px){
  li ,a {
    font-size: smaller;
  }
  .content-photo h1 .span{
    font-size: medium;
  }
  .content-photo button{
    padding: 5px;
    font-size: small;
  }
  .beranda-section-2{
    margin: 20px auto;
  }
  .medsos{
    text-align: center;
    margin: 10px;
  }
  a{
    font-size: smaller;
  }
  i{
    font-size: 20px;
    color: white;
  }
  .logo{
    width: 70px
  }
  header{
    height:10em;
  }
  nav{
    display: flex;
    padding-top: 100px;
  }
  .logo-container{
    width: 200px;
    margin: 0 auto;
  }
}
@media (max-width:650px){
  .logo{
    width: 70px
  }
  header{
    height:10em;
  }
  nav{
    padding-top: 100px;
  }
  .logo-container{
    width: 200px;
    margin: 0 auto;
  }
}